.hist{
  margin-left: 400px;
  margin-top: 50px;
}

/* Style the side navigation menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #30da98;
  padding-top: 20px;
}
h3{
  padding-left: 25px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  display: block;
}
/* Style the links inside the side navigation menu */
 .sidenav a {
  padding: 5px 25px;
  font-weight: 450;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
}

/* Change the color of the links on hover */
.sidenav a:hover {
  color: #f1f1f1;
}




.navbar {
  text-align: center;
  background-color: #30da98;
  padding: 25px;
  margin-bottom: 20px;
}

.heading {
  margin: 0; /* Remove default margin */
}