.head{
  background-color:#b2cddf ;

}

/* Style the side navigation menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #30da98;
  padding-top: 20px;
}
h3{
  padding-left: 25px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  display: block;
}
/* Style the links inside the side navigation menu */
 .sidenav a {
  padding: 5px 25px;
  font-weight: 550;
  text-decoration: none;
  font-size: 18px;
  color: #000000f3;
  display: block;
}

/* Change the color of the links on hover */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #000000;
}
/* Radio buttons for selecting X or Y axis */
.radio-group {
  margin-bottom: 10px;
  font-size: 25px;
}

.radio-group label {
  margin-right: 20px;
  font-size: 25px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

/* Dropdown to select attribute for X or Y axis */
.select-container {
  margin-bottom: 20px;
}

.select-container select {
  padding: 15px 30px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 9px;
  background-color: #89d563;
  cursor: pointer;
}

.select-container select:focus {
  outline: none;
  border-color: #007bff;
}

.navbar {
  text-align: center;
  background-color: #30da98;
  padding: 39px;
  margin-bottom: 20px;
}

.heading {
  margin: 0; /* Remove default margin */
}